html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  font-family: 'Work Sans', sans-serif;
}

body {
  display: flex;
  flex-direction: column;

  > main {
    flex: 1;
  }
}

// Elements
@import 'elements/buttons';
@import 'elements/forms';

// Components
@import 'components/footer';
