footer#fh5co-footer(role='contentinfo')
  .container
    .row.row-pb-md
      .col-md-4.fh5co-widget
        h3 A Little About Run.
        p
          | Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.
        p
          a.btn.btn-primary.btn-outline.with-arrow(href='#')
            | Learn More
            i.icon-arrow-right
      .col-md-2.col-sm-4.col-xs-6.col-md-push-1
        ul.fh5co-footer-links
          li
            a(href='#') About
          li
            a(href='#') Help
          li
            a(href='#') Contact
          li
            a(href='#') Terms
          li
            a(href='#') Meetups
      .col-md-2.col-sm-4.col-xs-6.col-md-push-1
        ul.fh5co-footer-links
          li
            a(href='#') Shop
          li
            a(href='#') Privacy
          li
            a(href='#') Testimonials
          li
            a(href='#') Handbook
          li
            a(href='#') Held Desk
      .col-md-2.col-sm-4.col-xs-6.col-md-push-1
        ul.fh5co-footer-links
          li
            a(href='#') Find Designers
          li
            a(href='#') Find Developers
          li
            a(href='#') Teams
          li
            a(href='#') Advertise
          li
            a(href='#') API
    .row.copyright
      .col-md-12.text-center
        p
          small.block © 2016 Free HTML5. All Rights Reserved.
          small.block
            | Designed by
            a(href='http://freehtml5.co/', target='_blank') FreeHTML5.co
            |  Demo Images:
            a(href='http://unsplash.co/', target='_blank') Unsplash
        p
        ul.fh5co-social-icons
          li
            a(href='#')
              i.icon-twitter
          li
            a(href='#')
              i.icon-facebook
          li
            a(href='#')
              i.icon-linkedin
          li
            a(href='#')
              i.icon-dribbble
        p
