header
  nav#navbar.navbar-collapse.collapse
    ul.nav.navbar-nav
      // Default Nav
      li.active
        a(href='/') Home
        
      unless user
        li
          a(href='/login') Login
        li
          a(href='/register') Sign Up
      
      else
        li
          a(href='/login') Only If Logged In
          
        if user.role == 'admin'
          li
            a(href='/admin') Only If Admin
        
      

    ul.nav.navbar-nav.navbar-right
      li.dropdown
        if user
          a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
            span= user.username
            span.caret
          ul.dropdown-menu
            li
              a(href='/api/auth/logout') Logout

        else
          button sign in
          button login
