{
  "extends": ["eslint:recommended"],
  "ecmaFeatures": {
    "sourceType": "module"
  },
  "parser": "babel-eslint",
  "plugins": [
    "babel"
  ],
  "env": {
    "node": true,
    "mocha": true,
    "es6": true,
    "browser": true
  },
  "rules": {
    "quotes": [2, "single"],
    "strict": [2, "never"],
    "max-len": [1, 120],
    "babel/generator-star-spacing": 1,
    "babel/new-cap": 1,
    "babel/no-await-in-loop": 1
  }
}
