{
  "extends": ["eslint:recommended"],
  "ecmaFeatures": {
    "modules": true
  },
  "env": {
    "node": true
  },
  "parser": "babel-eslint",
  "rules": {
    "quotes": [2, "single"],
    "strict": [2, "never"],
    "babel/generator-star-spacing": 1,
    "babel/new-cap": 1,
    "babel/no-await-in-loop": 1
  },
  "plugins": [
    "babel"
  ],
  "globals": {
    "it": true,
    "describe": true
  }
}
