extends ../../layouts/application

block content
  .container
    h1 login

    form(id="loginForm")
      .form-group
        input.form-element(id="username", name="username", type="text")
      .form-group
        input.form-element(id="password", name="password", type="password")
      .form-group
        button.btn.btn-success(type="submit") Login

block scripts
  script(type="text/javascript" src="/scripts/pages/login.js")
    
