$form-border-color: #dee2e6;

form {
  border: 1px solid $form-border-color;
  border-radius: 2px;
  width: 250px;
}

.form-group {
  padding: 0.75rem;

  & + .form-group {
    border-top: 1px solid $form-border-color;
  }

  & > label > span {
    color: #343a40;
    display: block;
    font-weight: bold;
    margin-bottom: 6px;
  }

  &.has-error {
  }

  .help-block {
    color: #ff6b6b;
    display: block;
    font-size: 0.75rem;
    margin-top: 0.5rem;
  }
}

.form-element {
  appearance: none;
  background: transparent;
  border: 0;
  display: block;
  outline: none;

  &::placeholder {
    color: #adb5bd;
    font-weight: lighter;
  }
}
