doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    link(href='//fonts.googleapis.com/css?family=Work+Sans:400,700', rel='stylesheet')
  
    link(rel="stylesheet", href="/assets/bundle.css")
    block head
  body
    include ../components/header

    main
      block content

    include ../components/footer

    script(src="/assets/bundle.js")
      
    block scripts
